.card {
    height: 600;
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    width: auto;
    max-height: 300px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
}
