/* Body styling */

a:hover{
    text-decoration: none;
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

dt {
    font-size: 1.25em;
}

/* Navbar styling */

nav {
    margin-bottom: 1.5em;
    border-radius: 0 0 15px 15px;
    background-color: #f5e8d3;
}

.logo-image {
    display: block;
    height: 150px;
    /* width: auto; */
}


/* Card styling */

.card {
    width: 100%;
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    width: auto;
    max-height: 300px;
    display: block;
    margin: 20px auto 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.card-text {
    margin-bottom: 0px;
}

/* ChosenBeer styling */

#chosenBeerImg {
    padding-bottom: 20px;
    display: block;
    margin: auto;
    
}

#food-text {
    margin-bottom: 0px;
}

/* RandomBeer styling */

#randomBeerSection {
    text-align: right;
}

div.sticky {
    position: sticky;
    top: 0;
}

#randomBeerButton {
    font-size: 1.75em;
    display: inline;
    padding: 10px;
    border-radius: 10px;
    border-width: 4px;
    margin-bottom: 20px;
}

button:focus {
    outline:0;
}
